/* цвет заголовков #212121 */
/* цвет текста #757575 */
/* цвет акцента #2196F3 */
/* белый цвет #FFFFFF */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Logo */
.logo-up {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  
}
.logo-down {
  color: var(--white-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

.logo-up:hover,
.logo-down:hover {
  color: var(--accent-color);
}
/* навигация */
.site-nav .link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* контакты */
.site-communicate .link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
}
.site-communicate .link:hover,
.site-communicate .link:focus {
  color: var(--accent-color);
}

.footer {
  color: var(--white-color);
  background-color: #2f303a;
}
}
.address {
  font-size: 14px;
  line-height: 1.7;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* index.html */

/* Hero надпись */
.title-hero {
  color: var(--white-color);
  background-color: #2f303a;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
/* Hero button */
.button.hero {
  color: var(--white-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
}

/* section-title */
.section.title-one {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.section-hero {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* portfolio.html */
.list-button .filter {
  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.list-button .filter:hover,
.list-button .filter:focus {
  color: var(--white-color);
  background: var(--accent-color);
}

.section-skills .title-skills {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.skills {
  font-size: 16px;
  line-height: 1.9;
}
