/* цвет заголовков #212121 */
/* цвет текста #757575 */
/* цвет акцента #2196F3 */
/* белый цвет #FFFFFF */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --primery-background-color: #e5e5e5;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
}

/* Logo */
.logo-up {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-down {
  color: var(--white-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.Web {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

/* навигация */
.site-nav,
.site-communicate {
  list-style: none;
}

.focus a.active {
  color: var(--accent-color);
}

.site-nav .link-nav {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  text-decoration: none;
}
.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent-color);
}
/* контакты */
.site-communicate .link-communicate {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  text-decoration: none;
}
.site-communicate .link-communicate:hover,
.site-communicate .link-communicate:focus {
  color: var(--accent-color);
}

/* подвал */
.footer {
  color: var(--white-color);
  background-color: var(--dark-background-color);
}

.address-list {
  list-style: none;
}
/* адресс */
.address {
  font-size: 14px;
  line-height: 1.7;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address .link:hover,
.address .link:focus {
  color: var(--white-color);
}

/* index.html */

/* Hero надпись */

.hero-section {
  background-color: var(--dark-background-color);
}
.title-hero {
  color: var(--white-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}
/* Hero button */
.hero-div {
  text-align: center;
}
.button.hero {
  color: var(--white-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  cursor: pointer;
}

.button.hero:hover,
.button.hero:focus {
  background-color: #188ce8;
}

.section-one,
.section-two,
.section-three {
  list-style: none;
}

/* section-title */
.section.title-one {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text-one {
  font-size: 14px;
  line-height: 1.7;
}

.team {
  background-color: var(--secondary-background-color);
}

.section-team {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* portfolio.html */

.list-button {
  list-style: none;
}
/* list-button */
.list-button .filter {
  color: var(--title-text-color);
  background: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
/* кнопка Все */
.button-all {
  color: var(--white-color);
  background: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.list-button .filter:hover,
.list-button .filter:focus {
  color: var(--white-color);
  background: var(--accent-color);
}

.section-skills {
  list-style: none;
}
.link-skills {
  text-decoration: none;
}
/* section-skills */
.section-skills .title-skills {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.skills {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
