/* цвет заголовков #212121 */
/* цвет текста #757575 */
/* цвет акцента #2196F3 */
/* белый цвет #FFFFFF */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --primery-background-color: #e5e5e5;
  --icons-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /*   outline: 4px solid red; */
}

.header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Logo */
.logo-up {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-down {
  color: var(--white-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.Web {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}
/* main-nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* навигация */
.site-nav,
.site-communicate {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav a.active {
  color: var(--accent-color);
}

.site-nav .link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent-color);
}

.site-nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* контакты */
.site-communicate .link-communicate {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-communicate {
  display: flex;
  align-items: center;
}

.site-communicate {
  display: flex;
  margin-left: auto;
}

.site-communicate .item + .item {
  margin-left: 30px;
}

.link-communicate:hover,
.link-communicate:focus {
  color: var(--accent-color);
}

.item:hover .icon-contact {
  fill: var(--accent-color);
}

.icon-contact {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--white-color);
  background-color: var(--dark-background-color);
}

.footer a,
p {
  cursor: default;
}

.address-list {
  padding: 0;
  list-style: none;
}
.address-list {
  margin-top: 9px;
}

.address-list .item {
  margin-top: 9px;
}

/* адресс */
.address {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* .address .link:hover,
.address .link:focus {
  color: var(--white-color);
} */

.down {
  display: flex;
  align-items: baseline;
}

.down .col + .col {
  margin-left: 70px;
}

.container-address {
  display: block;
  padding: 0;
}

.address-call {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.ticon-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  width: 206px;
  height: 44px;
  margin-top: 20px;
}

.tlink-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tlink-icon {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tlist-icon:hover .tlink-social {
  background-color: var(--accent-color);
}
.tlist-icon:hover .tlink-icon {
  fill: var(--white-color);
}

.ticon-list .tlist-icon + .tlist-icon {
  margin-left: 10px;
}

/* index.html */

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  margin-right: 8px;
  margin-top: 8px;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-close {
  width: 18px;
  height: 18px;
}

/* Hero надпись */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../Images/ImgAll.jpg);

  /*   background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: 0;
  background-color: var(--dark-background-color);
}

.title-hero {
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: var(--white-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  text-transform: uppercase;
}
/* Hero button */
/* .hero-div {
  text-align: center;
} */
.button.hero {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  cursor: pointer;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.hero:hover,
.button.hero:focus {
  background-color: #188ce8;
}

.section-one,
.section-two,
.section-three {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.section-one {
  display: flex;
}

.section-one .item {
  width: 270px;
}
.item-media {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.section-one .item {
  /*   margin-left: 30px; */
  margin-left: auto;
}
.section-one .item:first-child {
  margin-left: 0;
}
.section-one .item:last-child {
  margin-right: 0;
}

.two-team {
  padding-top: 0;
}

.section-two {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.section-two .cover {
  display: block;
}

.section-two .item-img {
  display: block;
}
.section-two .item + .item {
  /*  margin-left: 30px; */
  margin-left: auto;
}

.servis-item {
  position: relative;
}

.inscription {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 82px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

/* .inscription::before {
  position: absolute;
  content: "";
  display: inline-block;

  bottom: 0;
  left: 0;

  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
} */

.text-inscription {
  margin-top: 0;
  width: 100%;
  text-align: center;

  /*  transform: translate(-50%, -50%); */

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* section-title */
.peculiarities.title-one {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text-one {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}

.team {
  background-color: var(--secondary-background-color);
}
.section-three {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.section-three .cover {
  display: block;
}
.section-three .item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-three .item + .item {
  margin-left: 30px;
  /* margin: auto; */
}

/* .section-three .item:first-child {
  margin-left: 0;
}

.section-three .item:last-child {
  margin-right: 0;
} */

.item_three {
  padding: 30px;
}

.icon-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  width: 206px;
  height: 44px;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.link-icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icon:hover .link-social {
  background-color: var(--accent-color);
}
.list-icon:hover .link-icon {
  fill: var(--white-color);
}

.icon-list .list-icon + .list-icon {
  margin-left: 10px;
}

.section-team {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title-name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.link-partners {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
}

.list-partners {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 50px;
}
.list-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item + .list-item {
  margin-left: 30px;
}

.icon-partners {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover .icon-partners {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.list-item:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* portfolio.html */

.list-button {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  margin-bottom: 50px;
}
/* .list-button .item {
  margin: auto;
} */

.list-button .item + .item {
  margin-left: 8px;
}
/* list-button */
.list-button .filter {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  transition: 0.3s;

  color: var(--title-text-color);
  background: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
/* кнопка Все */
.button-all {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  color: var(--white-color);
  background: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-button .filter:hover,
.list-button .filter:focus {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* список с картинками */
/* .flex-container {
  display: flex;
  flex-wrap: wrap;
} */

.section-skills {
  list-style: none;
  padding: 0;
}

.section-skills {
  display: flex;
  flex-wrap: wrap;
}

.product-actions {
  position: relative;
  overflow: hidden;

  /* max-width: 370px;
  max-height: 294px; */
}

.product-actions::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  /* opacity: 0; */
  /*  transform: translateY(calc(100% + 0px)); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .product-actions::before {
  transform: translateY(0%);
}

/* .product-actions:hover::before {
  / opacity: 1; 
  transform: translateY(calc(-50% + 150px));
} */
/* .product-actions::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(calc(100% + 0px));

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .product-actions:hover::after {
  opacity: 1;
  transform: translateY(calc(-50% + 150px));
} */

/* .content {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;

    left: 50%;
    top: 50%; 

  padding: 66px 24px;
  background-color: rgba(33, 150, 243, 0.9);

   transform: translateY(100%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    opacity: 0; 
} */

/* .content:hover {
   opacity: 1; 
  transform: translateY(0%);
}
 */
/* .description {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--white-color);
} */

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.link-skills:hover,
.link-skills:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-skills {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-skills .cover {
  display: block;
}
/* узнать почему есть отступ  */
.all-title {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px;
}

/* section-skills */
.section-skills .title-skills {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  /*  margin-top: 20px; */
  margin-bottom: 4px;
}
.skills {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
