@import "./utils/variables";
@import "./base/normalize";
@import "./components/page-header";
@import "./components/logo";
@import "./components/backdrop";
@import "./components/hero-section";
@import "./components/section-peculiarities";
@import "./components/section-dignity";
@import "./components/section-team";
@import "./components/section-partners";
@import "./components/footer";
