/* Footer */

.footer a,
p {
  cursor: default;
}

.down {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  color: $white-color;
  background-color: $dark-background-color;
}

/* Address */

.address {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;

  &__list {
    padding: 0;
    list-style: none;

    margin-top: 9px;
  }

  &__item {
    margin-top: 9px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}

/* Section-footer */

.section-footer {
  & + & {
    margin-left: 70px;
  }

  &__text {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  &__soc {
    display: inline-flex;
    list-style: none;
    padding: 0;
    width: 206px;
    height: 44px;
    margin-top: 20px;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: $white-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list:hover &__link {
    background-color: $accent-color;
  }
  &__list:hover &__icon {
    fill: $white-color;
  }

  &__list + &__list {
    margin-left: 10px;
  }
}

/* Form-footer */

.form-footer input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-top: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: 1px solid $accent-color;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::placeholder {
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.form-footer {
  &__button {
    display: inline-flex;
  }

  &__button-mail {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    padding: 10px 28px 10px 29px;
    min-width: 200px;
    margin-left: 12px;

    color: $white-color;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-color;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.86;
    cursor: pointer;
    text-align: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }

  &__icon {
    margin-left: 10px;
  }
}
