/* Hero-section */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../Images/ImgAll.jpg);
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: 0;
  background-color: $dark-background-color;

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    color: $white-color;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    text-transform: uppercase;
  }
}
