/* Hero-section */

.overlay {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../Images/mobile-X2/hero-mobile.jpg);
  background-size: cover;

  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../Images/mobile-X2/hero-mobile2x.jpg);
  }
}

@media screen and(min-width: 768px) {
  .overlay {
    /* max-width: 768px; */
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../Images/TabletX2/hero-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../Images/TabletX2/hero-tablet2x.jpg);
    }
  }
}

@media screen and(min-width: 1200px) {
  .overlay {
    /*    max-width: 1600px; */
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../Images/Desktop/hero-desctop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../Images/Desktop/hero-desctop2x.jpg);
    }
  }
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 200px;
  margin-top: 0;
  background-color: $dark-background-color;

  @media screen and(min-width: 1200px) {
    padding-top: 200px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    /*  max-width: 696px;  */
    max-width: 360px;
    color: $white-color;
    letter-spacing: 0.06em;
    font-weight: 900;
    /* font-size: 44px; */
    font-size: 26px;
    line-height: 1.6;
    /* line-height: 1.36; */

    @media screen and(min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 700px;
    }

    text-align: center;
    text-transform: uppercase;
  }
}
