.logo__link {
  color: $title-text-color;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-down {
  color: $white-color;
}

.logo {
  color: $accent-color;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}
