/* Section-team */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/Images/ImgAll.jpg);
}

.team {
  background-color: $secondary-background-color;
}

.section-team {
  @extend %section;
  display: flex;
  flex-wrap: wrap;

  &__img {
    display: block;
  }

  &__item {
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    & + & {
      margin-left: 30px;
    }
  }
}

/* Item-cards */

.item-cards {
  padding: 30px;

  &__title {
    margin-bottom: 10px;
    margin-top: 0;
    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__soc {
    display: inline-flex;
    list-style: none;

    padding: 0;
    width: 206px;
    height: 44px;
    margin-top: 16px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: $icons-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list:hover &__link {
    background-color: $accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__list:hover &__icon {
    fill: $white-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list + &__list {
    margin-left: 10px;
  }
}
