$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$primery-background-color: #e5e5e5;
$icons-color: #afb1b8;
$transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
$transition-timing-function: 250ms;

body {
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: $white-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.distance {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  color: $white-color;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: $accent-color;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  cursor: pointer;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

%section {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

/* Container__title  */

.container__title {
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
