$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$primery-background-color: #e5e5e5;
$icons-color: #afb1b8;
$transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
$transition-timing-function: 250ms;
$primery-font: Roboto;
$secondary-font: sans-serif;
